#logo {
	height: 50px;
}


.offer.selected {
	background-color: #deeaee;
}
.flight-info{
	text-align: left;
}
.flight-info div{
	text-align: left;
	padding-left: 15px;
	border-width: 2px;
	border-color: black;
}

.flight-summary{
	align-self: right;
	border-width: 2px;
	border-color: black;
}
nav, nav div{
	padding-right: 50px;

}

.upgrade-button{
	align: right;
}
